

<% @title = "Por Carmen | " + @publication.title %>

  <!-- Header publicacion -->
  <header class = "header-publicacion contenido-header" 
    style = "background-image: url(<%= asset_path 'https://content-images.amlab7.com/airtrfx/ciudades/ciudad-del-carmen.jpg' %>);">
    <div class = "container-fluid text-white titulo-publicacion">
      <div>
        <h1 class = "fst-italic text-capitalize"><%=@publication.title%></h1>
        <hr/>
        <time datetime = "2015-12-13">
        <svg xmlns = "http://www.w3.org/2000/svg" width = "16" height = "16" fill = "currentColor" class = "bi bi-calendar-fill" viewBox = "0 0 16 16">
          <path d = "M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z"/>
        </svg> <%= @publication.created_at %>
        </time>
         | 
        <svg xmlns = "http://www.w3.org/2000/svg" width = "19" height = "19" fill = "currentColor" class = "bi bi-person-fill" viewBox = "0 0 16 16">
          <path d = "M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg> <%=@publication.admin.email%>
      </div>
    </div>
  </header>       

  <main class = "contenido-publicacion shadow-lg rounded-top" role = "main">
    <!-- Contenido publicacion -->
    <article class = "container-fluid">
    <div class = "mx-lg-5 mb-4">
        <%= @publication.cuerpo %>
    </div>

<!-- Imagen de publicacion -->
  <% if @publication.imagen.attached? %>
    <div class = "mt-2">
      <div class = "row justify-content-center">
        <%= image_tag url_for(@publication.imagen), class: "col-12 col-md-8 align-items-sm-center img-publicacion", height: "400px" %>
      </div>
    </div>    
    </article>
    <%end%>


    <div class = "mb-5 container">
      <!-- Compartir publicacion -->
      <div class = "row justify-content-center mt-5 mb-4">
        <div class = "col">

            <span class = "float-md-right mx-lg-5 ms-1">

              <span class = "fs-6 fw-light">Comparte esta publicación:</span>

              <a class = "icon-facebook text-decoration-none ms-1" href = "https://www.facebook.com/sharer/sharer.php?u=#" onclick = "window.open(this.href, 'facebook-share','width=580,height=296');return false;">
              <span class = "hidden">
              <svg xmlns = "http://www.w3.org/2000/svg" width = "20" height = "20" fill = "currentColor" class = "bi bi-facebook" viewBox = "0 0 16 16">
                <path d = "M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
              </svg>
              </span>
              </a>

              <a class = "icon-twitter text-decoration-none" href = "https://twitter.com/intent/tweet?text=Once%20Upon%20a%20Time&amp;url=#" onclick = "window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
              <span class = "hidden">
              <svg xmlns = "http://www.w3.org/2000/svg" width = "20" height = "20" fill = "currentColor" class = "bi bi-twitter" viewBox = "0 0 16 16">
                <path d = "M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg>
              </span>
              </a>

            </span>

            <span class = "float-md-end mx-lg-5 ms-1">

              <span class = "fs-6">Asociación por Carmen.</span>

            </span>
        </div>
    </div>  


    <% if admin_signed_in? %>
      <!-- Modificar/Eliminar publicacion -->
      <div class = "row justify-content-center d-grid mt-5 mb-2">
        <div class = "col">

          <span class = "float-left">
            <%=link_to "Eliminar", @publication, method: :delete, class: "btn btn-danger" %>
          </span>

          <span class = "float-right">
            <%= link_to 'Editar', edit_publication_path, class: "btn btn-success" %>
          </span>
        </div>
      </div>  
    <% end %>  

    </div>

  </main> 