
<% if @publication.imagen.attached? %>
<div>
    <%= image_tag url_for(@publication.imagen), height:400 %>
</div>
<%end%>

<h1><%=@publication.title%></h1>

<p>Publicado por: <strong><%=@publication.admin.email%></strong></p>

<div>
  <%=@publication.cuerpo  %>
</div>

<div>
  <% if admin_signed_in? %>
  <%=link_to "Eliminar", @publication, method: :delete%>
  <%= link_to 'Editar', edit_publication_path %>
  <% end %>
</div>
