<nav>
  <li>
    <%= link_to "Inicio", root_path %>
    <%= link_to "Publicaciones", publications_path %>
    <%= link_to "Escribir", new_path %>

  <% if user_signed_in? %>

    <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>

  <%else%>

    <%= link_to "Iniciar sesion", new_user_session_path %>


    <%= link_to "Registro", new_user_registration_path %>
    </li>
  <% end %>

</nav>
