<!--
<h2>Iniciar sesion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->
<% @title = "Por Carmen | Iniciar sesión" %>

        <!-- Formulario de login -->
        <section class = "login">
            <div class = "container w-75 mt-5 rounded-5 shadow mb-4">
                <div class = "row align-items-stretch">
                    
                  <!-- Contenedor del login (Izquierda) -->
                  <div class = "col bg bg-white d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded-5"
                    style = "
                        background-image: url(<%= asset_path 'https://res.cloudinary.com/webalys/image/private/w_800,h_800,ar_1/f_auto/v1/icons/barcelona/activism-environment/activism-environment/recycle-2-fn7sxwfcbfvsho2u8u8ux.png' %>); 
                    ">
                    </div>

                    <!-- Contenedor del login (Derecha) -->
                    <div class = "col bg-white rounded-end">
                        <div class = "text-end">
                            <h2 class = "fw-bold text-center">Iniciar sesión</h2>
                        </div> 

                          <!-- Formulario de inicio de sesion -->
                          <div class = "container py-3" id = "nav-home"> 

                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                  <!-- Campo de correo electronico -->
                                  <div class = "mb-4 mt-1">
                                      <label for = "email" class = "form-label">Correo electrónico:</label>
                                      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                                  </div>
                                   
                                  <!-- Campo de contraseña -->
                                  <div class = "mb-4">
                                      <label for = "password" class = "form-label">Contraseña:</label>
                                      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                                  </div>

                                  <!-- Checkbox de recordar cuenta -->
                                  <div class = "mb-4">
                                    <% if devise_mapping.rememberable? %>
                                      <%= f.check_box :remember_me, class: "form-check-input" %>
                                      <label for = "connected" class = "form-check-label">Recordarme</label>
                                  <% end %>
                                  </div>

                                  <!-- Boton de iniciar sesion -->
                                  <div class = "d-grid">
                                    <%= f.submit "Iniciar sesión", class: "btn btn-success" %>
                                  </div>

                                  <!-- Link de recuperar contraseña -->
                                  <div class = "my-3 text-decoration-none">
                                      <span><%= render "devise/shared/links" %></span>
                                  </div>
                                <% end %>
                          </div>

                      </div>

                    </div>
                </div>
            </div>
        </section>
